Evaluate the Summer Olympics, London 2012 dataset
Evaluate the dataset of the Summer Olympics, London 2012 to:

Find and print the name of the country that won maximum gold medals,
Find and print the countries who won more than 20 gold medals,
Print the medal tally,
Print each country name with the corresponding number of gold medals, and
Print each country's name with the total number of medals won.

#### 1: View and add the dataset

In [3]:
#Import the necessary library
import numpy as np
import pandas as pd

In [8]:
#Manually add the Summer Olympics, London 2012 dataset as arrays
olympic_country = np.array(['Great Britain','China','Russia','United States','Korea','Japan','Germany'])
olympic_country_gold = np.array([29,38,24,46,13,7,11])
olympic_country_silver = np.array([17,28,25,28,8,14,11])
olympic_country_bronze = np.array([19,22,32,29,7,17,14])

#### Find the country with maximum gold medals

In [9]:
#Use the argmax() method to find the highest number of gold medals
max_gold = olympic_country_gold.argmax()
max_gold

3

In [11]:
#Print the name of the country
olympic_country_name = olympic_country[max_gold]
olympic_country_name

'United States'

#### Find the countries with more than 20 gold medals

In [12]:
#Use Boolean indexing technique to find the required output
max_gold_country = olympic_country[olympic_country_gold>20]
max_gold_country

array(['Great Britain', 'China', 'Russia', 'United States'], dtype='<U13')

#### Evaluate the dataset and print the name of each country with its gold medals and total number of medals

In [14]:
#Use a for loop to create the required output
for i in range(len(olympic_country)):
    gold_medl = olympic_country_gold[i]
    country =  olympic_country[i]
    total_medal = olympic_country_gold[i] + olympic_country_silver[i] + olympic_country_bronze[i]
    print(' {}, gold medal {}, total medal {}'.format(country,gold_medl, total_medal))

 Great Britain, gold medal 29, total medal 65
 China, gold medal 38, total medal 88
 Russia, gold medal 24, total medal 81
 United States, gold medal 46, total medal 103
 Korea, gold medal 13, total medal 28
 Japan, gold medal 7, total medal 38
 Germany, gold medal 11, total medal 36